/* Global Layout Set-up */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-size: 2.2vh;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #f7f5f0;
}
/* Layout */
.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
}
/* Link Styles */
a {
  text-decoration: none;
  color: #999;
}
a:hover {
  color: #222;
}
/* Section Styles */
.main-nav {
  width: 100%;
  background: black;
  min-height: 40px;
  padding: 10px;
  position: fixed;
  text-align: center;
}
.nav {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
.nav .name {
  display: block;
  margin-right: auto;
  color: white;
}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: white
}
header {
  text-align: center;
  background: url('images/photo/ftv_cotillo.jpg') no-repeat top center;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px; 
  min-height: 470px;
  line-height: 1.5;
}
header .profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid white;
  transition: all .5s;
}
header .profile-image:hover {
  transform: scale(1.2) rotate(360deg);
}
.tag {
  background-color: #efefef;
  color: black;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
}
.location {
  background-color: #222;
  color: rgb(226, 226, 14);
}
.card {
  margin: 30px;
  padding: 20px 40px 40px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
}
.card:hover {
  border-color: #222;
}
.jobs li:nth-child(even) {
  background: #0399ff;
}
ul.skills,
ul.jobs {
  padding: 0;
  text-align: center;
}
.skills li {
  display: inline-block;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}
li span {
  visibility: hidden;
}
.jobs {
  border-radius: 4px;
  background: grey;
  border: solid 1px black;
  color: black;
  padding: 0 5px ;
  margin: 0px;
}
.other_jobs li {
  list-style-type: none;
  display: table;
  margin: .5rem;
}
/*ICONS Technical Skills*/
.icon {
  width: 5rem;
  height: 5rem;
  padding: 0px;
  margin: 5px;
  background-size: cover;
}
.icon__html {
  background-image: url(images/skills_logo/html.png);
}
.icon__css {
  background-image: url(images/skills_logo/css.png);
}
.icon__javascript {
  background-image: url(images/skills_logo/javascript.png);
}
.icon__bootstrap {
  background-image: url(images/skills_logo/bootstrap.svg);
}
.icon__sass {
  background-image: url(images/skills_logo/rsz_sass.png);
}
.icon__angular {
  background-image: url(images/skills_logo/angular.png);
}
.icon__react {
  background-image: url(images/skills_logo/react.png);
}
.icon__java {
  background-image: url(images/skills_logo/java.png);
}
footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}
footer .copyright {
  top: -8px;
  font-size: .75em;
}
footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer ul li {
  display: inline-block;
}
a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}
a.linkedin {
  background-image: url(images/socialmedia_logo/linkedin.svg);
}
a.github {
  background-image: url(images/socialmedia_logo/github.svg);
}
a.social:hover {
  opacity: 1;
}
#slogan {
  font-size:2.5rem;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .flex {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    margin: 0 auto;
  }
  .skills-container {
    display: inline;
  }
}